<mdb-navbar SideClass="navbar navbar-expand-md navbar-dark indigo" [containerInside]="true">
  <mdb-navbar-brand>
    <a class="logo navbar-brand" href="#">
      <span id="header" class="h1">WxRSS</span>
    </a>
  </mdb-navbar-brand>
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active waves-light" mdbWavesEffect>
        <a class="nav-link">All <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Severe<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">SPC</a>
        </div>
      </li>
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Hurricane<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">NHC</a>
        </div>
      </li>
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Wx Pred<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">WPC</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">QPF</a>
        </div>
      </li>
    </ul>
    <span *ngIf="current | async as wx; else noWx" id="currentwx" class="text-white mr-sm-2">{{ wx.currently.temperature | number:'1.0-0' }}<ng2-wi [name]="'fahrenheit'"></ng2-wi> <ng2-wi [name]="weatherIcon(wx.currently.icon)"></ng2-wi></span>
  </links>
</mdb-navbar>
<ng-template #noWx></ng-template>