/* You can add global styles to this file, and also import other style files */
@font-face{
	font-family: "caviar-dreams";
	src: url('assets/fonts/CaviarDreams.ttf');
}
@font-face{
	font-family: "caviar-dreams-bold";
	src: url('assets/fonts/CaviarDreams_Bold.ttf');
}
@font-face{
	font-family: "caviar-dreams-italic";
	src: url('assets/fonts/CaviarDreams_Italic.ttf');
}
@font-face{
	font-family: "caviar-dreams-bolditalic";
	src: url('assets/fonts/CaviarDreams_BoldItalic.ttf');
}
@import 'variables';